@model IEnumerable<mvc.Models.Config>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Create</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Department)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><button type="button" class="btn btn-success">Edit</button></a> |
                <a asp-action="Details" asp-route-id="@item.ID"><button type="button" class="btn btn-info">Detail</button></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><button type="button" class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
